.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.formFieldGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.formFieldGroup:first-of-type {
  grid-row: 2;
}

.formFieldGroup:last-of-type {
  grid-row: 1;
}

.formFieldGroup input[type='text'] {
  width: 100%;
}

.form input, .form select, .form textarea {
  margin-bottom: 0;
}

.form button {
  display: inline-block;
  align-self: end;
  min-height: 2.75rem;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2.4rem;
  }

  .formFieldGroup:first-of-type,
  .formFieldGroup:last-of-type {
    grid-row: 1;
  }

  .formFieldGroup:last-of-type {
    grid-column: 2;
  }
}