.form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.formFieldGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.form button {
  display: inline-block;
  align-self: start;
}

@media (min-width: 768px) {
  .form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
